body {
  background:url('http://www.casinoholdempoker.com/Viaden%20table.jpg') no-repeat;
  background-position: center;
  width: auto;
  height: 500px;
}


  .dealer{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 600px;
  }




  #board {
    background-color: rgba(16, 128, 18, 0.9);
    width: 700px;
    height: 420px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 250px;
    display: inline-block;

}

  .cardDeck img {
    width: 110px;
    height: 185px;
    float:left;
    margin-top: 3px;
    margin-right: -40px;
  }

  img {
    margin-left: 30px;
  }

  .cardDeck{
    float:left;
    background-color: rgba(0,0,0, 0.5);
    width: 440px;
    height: 190px;
    margin-left: 130px;
    margin-top: 20px;
  }



  #gamestatusTotal {
    font-size: 18px;
    text-align: center;
    margin-top: 230px;
    color: white;
  }
  #gamestatus {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    color: white;
  }

  .btn {
    display: inline-block;
    width: 20%;
    height: 10%;
    margin-left:7px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 5px;

    background-color: black;
    border: 2px solid yellow;
    color: white;

    float: left;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,);
    transform: translate(2px, 2px);

  }


  #NewGame{
    margin-left: 130px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
